.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.722656;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:66.900000px;}
._2{width:76.327360px;}
._0{width:84.900000px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(142,192,193);}
.fs4{font-size:64.000000px;}
.fs3{font-size:66.000000px;}
.fs8{font-size:70.400002px;}
.fs2{font-size:72.000000px;}
.fs6{font-size:74.000000px;}
.fs9{font-size:76.000000px;}
.fs7{font-size:80.000000px;}
.fs0{font-size:96.000000px;}
.fs5{font-size:136.000000px;}
.fs1{font-size:240.000000px;}
.y0{bottom:0.000000px;}
.y6{bottom:14.895935px;}
.y5{bottom:17.468607px;}
.y7{bottom:50.895935px;}
.y39{bottom:78.794708px;}
.y18{bottom:81.180023px;}
.y8{bottom:86.895935px;}
.y2d{bottom:94.503540px;}
.y10{bottom:104.477112px;}
.y25{bottom:110.503540px;}
.y38{bottom:117.594727px;}
.y4{bottom:121.311777px;}
.y17{bottom:123.580017px;}
.y2c{bottom:139.303543px;}
.y24{bottom:139.303558px;}
.y31{bottom:145.703537px;}
.yf{bottom:149.277100px;}
.y37{bottom:156.394730px;}
.y16{bottom:165.980011px;}
.y28{bottom:168.103546px;}
.y1d{bottom:172.132126px;}
.y9{bottom:183.211609px;}
.y23{bottom:184.103561px;}
.y30{bottom:190.503540px;}
.ye{bottom:194.077110px;}
.y36{bottom:195.194733px;}
.y15{bottom:208.380005px;}
.y27{bottom:212.903534px;}
.y2b{bottom:212.903549px;}
.y2{bottom:213.891758px;}
.y1c{bottom:216.932129px;}
.ya{bottom:219.211609px;}
.y22{bottom:228.903564px;}
.y35{bottom:233.994736px;}
.y2f{bottom:235.303543px;}
.y14{bottom:250.779999px;}
.yb{bottom:255.211609px;}
.y1{bottom:256.017675px;}
.y26{bottom:257.703545px;}
.y2a{bottom:257.703552px;}
.y1b{bottom:261.732132px;}
.y34{bottom:272.794739px;}
.y21{bottom:273.703552px;}
.y13{bottom:277.180000px;}
.y3{bottom:279.254150px;}
.y2e{bottom:280.103546px;}
.y29{bottom:286.503555px;}
.y20{bottom:302.503555px;}
.y12{bottom:303.580002px;}
.y1a{bottom:306.532135px;}
.y33{bottom:311.594738px;}
.y1f{bottom:331.303558px;}
.y11{bottom:345.980005px;}
.y32{bottom:350.394739px;}
.y19{bottom:351.332138px;}
.y1e{bottom:360.103559px;}
.yd{bottom:443.018791px;}
.yc{bottom:468.311207px;}
.h4{height:48.114258px;}
.h5{height:52.031250px;}
.h3{height:52.488281px;}
.h8{height:55.404297px;}
.h7{height:58.320312px;}
.h1{height:69.375000px;}
.h6{height:99.144531px;}
.h2{height:174.960938px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x6{left:22.065109px;}
.x7{left:41.265110px;}
.x8{left:60.465111px;}
.xb{left:149.403168px;}
.x1{left:176.944126px;}
.x9{left:182.482395px;}
.xd{left:225.593597px;}
.xe{left:252.718637px;}
.xf{left:273.719482px;}
.x2{left:287.531525px;}
.x15{left:297.593597px;}
.xc{left:304.766357px;}
.x10{left:346.969452px;}
.x12{left:443.072968px;}
.x3{left:463.947586px;}
.x5{left:514.485840px;}
.x14{left:545.266327px;}
.x11{left:547.094452px;}
.x13{left:589.094452px;}
.xa{left:627.617859px;}
.x4{left:717.200012px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:89.200000pt;}
._2{width:101.769813pt;}
._0{width:113.200000pt;}
.fs4{font-size:85.333333pt;}
.fs3{font-size:88.000000pt;}
.fs8{font-size:93.866669pt;}
.fs2{font-size:96.000000pt;}
.fs6{font-size:98.666667pt;}
.fs9{font-size:101.333333pt;}
.fs7{font-size:106.666667pt;}
.fs0{font-size:128.000000pt;}
.fs5{font-size:181.333333pt;}
.fs1{font-size:320.000000pt;}
.y0{bottom:0.000000pt;}
.y6{bottom:19.861247pt;}
.y5{bottom:23.291476pt;}
.y7{bottom:67.861247pt;}
.y39{bottom:105.059611pt;}
.y18{bottom:108.240031pt;}
.y8{bottom:115.861247pt;}
.y2d{bottom:126.004720pt;}
.y10{bottom:139.302816pt;}
.y25{bottom:147.338053pt;}
.y38{bottom:156.792969pt;}
.y4{bottom:161.749036pt;}
.y17{bottom:164.773356pt;}
.y2c{bottom:185.738057pt;}
.y24{bottom:185.738078pt;}
.y31{bottom:194.271383pt;}
.yf{bottom:199.036133pt;}
.y37{bottom:208.526306pt;}
.y16{bottom:221.306681pt;}
.y28{bottom:224.138062pt;}
.y1d{bottom:229.509501pt;}
.y9{bottom:244.282145pt;}
.y23{bottom:245.471415pt;}
.y30{bottom:254.004720pt;}
.ye{bottom:258.769480pt;}
.y36{bottom:260.259644pt;}
.y15{bottom:277.840007pt;}
.y27{bottom:283.871379pt;}
.y2b{bottom:283.871399pt;}
.y2{bottom:285.189011pt;}
.y1c{bottom:289.242839pt;}
.ya{bottom:292.282145pt;}
.y22{bottom:305.204753pt;}
.y35{bottom:311.992981pt;}
.y2f{bottom:313.738057pt;}
.y14{bottom:334.373332pt;}
.yb{bottom:340.282145pt;}
.y1{bottom:341.356901pt;}
.y26{bottom:343.604726pt;}
.y2a{bottom:343.604736pt;}
.y1b{bottom:348.976176pt;}
.y34{bottom:363.726318pt;}
.y21{bottom:364.938070pt;}
.y13{bottom:369.573334pt;}
.y3{bottom:372.338867pt;}
.y2e{bottom:373.471395pt;}
.y29{bottom:382.004740pt;}
.y20{bottom:403.338074pt;}
.y12{bottom:404.773336pt;}
.y1a{bottom:408.709513pt;}
.y33{bottom:415.459651pt;}
.y1f{bottom:441.738078pt;}
.y11{bottom:461.306674pt;}
.y32{bottom:467.192986pt;}
.y19{bottom:468.442851pt;}
.y1e{bottom:480.138079pt;}
.yd{bottom:590.691722pt;}
.yc{bottom:624.414942pt;}
.h4{height:64.152344pt;}
.h5{height:69.375000pt;}
.h3{height:69.984375pt;}
.h8{height:73.872396pt;}
.h7{height:77.760417pt;}
.h1{height:92.500000pt;}
.h6{height:132.192708pt;}
.h2{height:233.281250pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x6{left:29.420146pt;}
.x7{left:55.020147pt;}
.x8{left:80.620148pt;}
.xb{left:199.204224pt;}
.x1{left:235.925502pt;}
.x9{left:243.309860pt;}
.xd{left:300.791463pt;}
.xe{left:336.958183pt;}
.xf{left:364.959310pt;}
.x2{left:383.375366pt;}
.x15{left:396.791463pt;}
.xc{left:406.355143pt;}
.x10{left:462.625936pt;}
.x12{left:590.763957pt;}
.x3{left:618.596781pt;}
.x5{left:685.981120pt;}
.x14{left:727.021769pt;}
.x11{left:729.459269pt;}
.x13{left:785.459269pt;}
.xa{left:836.823812pt;}
.x4{left:956.266683pt;}
}
